/* styles.css */

header {
    background: url('https://i.imgur.com/1DuhKN7.jpg') center center/cover no-repeat fixed;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

@keyframes backgroundChange {
    0%, 100% {
        background-image: url('https://www.bing.com/th?id=OUG.0DF267A752C3D491EE0819CC02F82B6C&w=236&c=11&rs=1&qlt=90&bgcl=ececec&o=6&pid=PersonalBing&p=0');
    }
    33% {
        background-image: url('https://www.bing.com/th?id=OUG.459D8384B6BC3F847D82AB0C8E1960CE&w=236&c=11&rs=1&qlt=90&bgcl=ececec&o=6&pid=PersonalBing&p=0');
    }
    66% {
        background-image: url('https://www.bing.com/th?id=OUG.D9269D8FB5C57BD35DF9C1C0B9D5794E&w=236&c=11&rs=1&qlt=90&bgcl=ececec&o=6&pid=PersonalBing&p=0');
    }
}


/* Typewriter effect style */
#businessName {
    overflow: hidden;
    border-right: 1px solid white;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.15em;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Updated styling for the content */
.hero-content {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background: #222;
    padding: 10px 0;
    color: #fff;
}
