body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: url('https://img.freepik.com/free-photo/cyberpunk-woman-warrior-portrait_23-2150712612.jpg?t=st=1697282387~exp=1697285987~hmac=c68e53adca2c0439f1647c3183229dee5969c3b3761929fdbe441a343b0b3c24&w=360') center/cover no-repeat fixed;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

header h1 {
    font-size: 3em;
}

.hero {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

footer {
    background: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}
