/* Your existing CSS code remains unchanged */

header {
    background: url('https://i.imgur.com/1DuhKN7.jpg') center center/cover no-repeat fixed;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 100px 0; 
}
 
/* Typewriter effect style */
#businessName {
    overflow: hidden;
    border-right: 1px solid white;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.15em;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
