/* styles.css */

header {
    background: url('https://i.imgur.com/1DuhKN7.jpg') center center/cover no-repeat fixed;
     animation: backgroundChange 18s infinite linear;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

@keyframes backgroundChange {
    0%, 100% {
        background-image: url('https://i.imgur.com/1DuhKN7.jpg');
    }
    50% {
        background-image: url('https://i.imgur.com/vdEsIMP.jpg');
    }
    100% {
        background-image: url('https://i.imgur.com/L9gCj5k.jpg');
    }
}






/* Updated styling for the content */
.hero-content {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background: #222;
    padding: 10px 0;
    color: #fff;
}
/* styles.css */

/* Your existing styles for larger screens */

/* Media query for screens with a maximum width of 768px (typical for smartphones) */
@media screen and (max-width: 768px) {
    header {
        padding: 50px 0;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
    
    footer {
        padding: 10px 0;
    }
}
 section.hero {
        background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for transparency */
    }
    
    .hero-content {
        padding: 20px;
    }
    
    .btn {
        background-color: #00f0ff; /* Neon blue background color */
        color: #fff; /* White text */
        font-size: 1rem;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .btn:hover {
        background-color: #00b0c0; /* Slightly darker blue on hover */
    }
    
    footer {
        padding: 10px 0;
    }
}

@keyframes button-fade-in {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
